<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<title>Conocenos</title>
<%- include('navbar') %>

<!-- main -->
<main class="container-fluid">
  <section class="row justify-content-center align-items-center">
    <div>
      <h1 class="text-center mt-5 pt-5 pb-3">Conocenos</h1>
    </div>
    <div class="col-7 d-flex flex-column mb-5">
      <div class="row mb-3">
        <img class="col-12 col-lg-3 img-about" src="/images/assets/vertical-removebg-preview.jpg" alt="logo">
        <p class="col-12 col-lg-9 fs-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quasi dolorum deserunt quisquam mollitia. Id suscipit nam est, commodi fugiat voluptatem adipisci voluptates incidunt quia sunt dolore ratione, nemo, quibusdam vitae perspiciatis rerum sapiente recusandae. Debitis, quasi vero? Ullam maiores cupiditate explicabo qui sapiente corporis dolor? Maiores eveniet quasi vitae voluptate quibusdam obcaecati ratione accusamus.</p>
      </div>
      <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque quisquam inventore modi placeat fuga, aliquam deleniti laborum consequatur dolorem eveniet non magnam totam. Architecto tempore, doloremque error maxime obcaecati iure officiis aliquid assumenda suscipit unde similique ad molestias tempora non aspernatur, beatae optio animi veritatis qui asperiores quasi facilis vitae ipsum. Eaque ut atque blanditiis nostrum, necessitatibus fugiat voluptatibus perferendis? Obcaecati nostrum iure sapiente culpa laudantium cupiditate, impedit quidem doloribus tenetur! Repellat temporibus quos fuga laudantium at facilis ducimus.</p>
      <p class="fs-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In laboriosam consequatur repudiandae perspiciatis voluptatibus fugiat dicta omnis eos sequi quo.</p>
    </div>
  </section>

</main>

<%- include('footer') %>